.ability-scores {
  /* margin: 0px;
  padding: 0px;
  background-color: darkslategrey; */
}

.ability-scores ul {
  /* margin: 0 auto;
  padding: 2px 0px;
  width: 98%;
  display: flex; */
}

.scoreNode {
  /* margin: 0px;
  padding: 0px;
  width: 10%;
  list-style-type: none; */
}

.scoreNode a {
  /* margin: 0px;
  padding: 0px;
  color: white;
  text-decoration: none; */
}

.scoreNode a:hover {
  color: goldenrod;
}