.App {
  box-sizing: border-box;
}

.App-header {
  margin: 0px;
  padding: 10px 5px 10px 5px;
  background-color: black;
}

.App-header h1 {
  margin: 0px;
  padding: 0px;
  color: goldenrod;
  text-align: center;
  font-size: 30px;
}
